@model IEnumerable<AsmAppDev2.Models.Topic>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("Staff"))
{
    @Html.ActionLink("Create a new Topic", "Create")
}

<table class="table table-striped">
    <tr>
        <th>Topic ID</th>
        <th>Topic Name</th>
        <th>Topic Descriptions</th>
        <th>Course Name</th>
        @*@if (Request.IsAuthenticated && User.IsInRole("Staff"))*@

        <th>Edit</th>
        <th>Delete</th>

    </tr>

    @foreach (var topic in Model)
    {
        <tr>
            <td>@topic.ID</td>
            <td>@topic.Name</td>
            <td>@topic.Description</td>
            <td>@topic.Course.Name</td>
            @if (Request.IsAuthenticated && User.IsInRole("Staff"))
            {
                <td>@Html.ActionLink("Edit this topic", "Edit", new { id = topic.ID })</td>
                <td>@Html.ActionLink("Delete this topic", "Delete", new { id = topic.ID })</td>
            }
        </tr>
    }
</table>