@model IEnumerable<AsmAppDev2.Models.AssignTrainertoTopic>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated && User.IsInRole("Staff"))
{
    @Html.ActionLink("Assign Trainer to Topic", "Create")
}

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Trainer Email</th>
        <th>Trainer UserName</th>
        <th>Topic Name</th>
        @if (Request.IsAuthenticated && User.IsInRole("Staff"))
        {
            <th>Delete</th>
        }

    </tr>
    @foreach (var trainer in Model)
    {
        <tr>
            <th>@trainer.ID</th>
            <th>@trainer.Trainer.Email</th>
            <th>@trainer.Trainer.UserName</th>
            <th>@trainer.Topic.Name</th>
            @if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
            {
                <th>@Html.ActionLink("Delete", "Delete", new { id = trainer.ID })</th>
            }
        </tr>
    }
</table>