@model IEnumerable<AsmAppDev2.Models.TraineeUser>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("Staff"))
{
    @Html.ActionLink("Add Trainee Profile", "Create")
}

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Trainee Email</th>
        <th>Trainee UserName</th>
        <th>Trainee FullName</th>
        <th>Education</th>
        <th>Programming Language</th>
        <th>Experience Details</th>
        <th>Department</th>
        @if (Request.IsAuthenticated && User.IsInRole("Staff"))
        {
            <th>Edit</th>
            <th>Delete</th>
        }

    </tr>
    @foreach (var trainee in Model)
    {
        <tr>
            <th>@trainee.ID</th>
            <th>@trainee.Trainee.Email</th>
            <th>@trainee.Trainee.UserName</th>
            <th>@trainee.Full_Name</th>
            <th>@trainee.Education</th>
            <th>@trainee.Programming_Language</th>
            <th>@trainee.Experience_Details</th>
            <th>@trainee.Department</th>
            @if (Request.IsAuthenticated && User.IsInRole("Staff"))
            {
                <th>@Html.ActionLink("Edit", "Edit", new { id = trainee.ID })</th>
                <th>@Html.ActionLink("Delete", "Delete", new { id = trainee.ID })</th>
            }
        </tr>
    }
</table>